<h2 mat-dialog-title>Editar Perfil</h2>
<div mat-dialog-content>
  <form [formGroup]="profileForm">
    <mat-form-field class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Teléfono</mat-label>
      <input matInput formControlName="phone" type="tel">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Presupuesto Límite</mat-label>
      <input matInput formControlName="budgetLimit" type="number">
    </mat-form-field>

    <div class="z-9999">
      <mat-form-field class="z-9999" >
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate placeholder="Start date">
          <input matEndDate placeholder="End date">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker overlayClass="custom-datepicker-overlay"></mat-date-range-picker>
      </mat-form-field>
    </div>

    <h3>Disponibilidad</h3>
    <div *ngFor="let range of availableDateRanges; let i = index" class="date-range-container">


      <button mat-icon-button color="warn" (click)="removeDateRange(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <button mat-button color="primary" (click)="addDateRange()">Añadir intervalo de fechas</button>

  </form>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancelar</button>
  <button mat-button color="primary" [disabled]="profileForm.invalid" (click)="save()">Guardar</button>
</div>
