<div class="flex flex-row bg-black/90 w-screen h-screen overflow-hidden">
  <app-side-bar class="hidden md:block"></app-side-bar>
  <!-- Contenido -->
  <div class="flex-1 overflow-y-auto">
    <main class="h-full w-full">
      <header class="bg-gray-800 text-white p-4 md:hidden fixed w-full z-40">
        <div class="flex items-center justify-between">
          <img src="favicon.ico" alt="Logo" class="w-10 h-10 rounded-full">
          <h1 class="text-xl font-semibold">Sotto Budget</h1>
        </div>
      </header>
      <div class="md:pt-0 pt-16 p-2 md:p-4 lg:p-10">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
